body{
    font-size: 62.5%;
    
    width: auto;
    margin: auto;
    display: block;
}
.head{
    background-color: antiquewhite;
    color: brown;
    width: auto;
    height: 10vh;
    padding: 1rem; 
    border-bottom:solid  coral 3px;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    border: solid brown 4px;
    border-radius: 0.5rem;
    padding: 2rem;
    margin: 1rem;
}
li{
    list-style-type:disc;
    font-size: 1rem;
}

.foot{
    width: auto;
    height: 5vh;
    background-color: coral;
    padding: auto;
    text-align: center;
    position: relative;
}

.riceBtn{
    background-color:burlywood;
    padding: 0.3rem 1rem;
    border: coral solid 2px;
    border-radius: 0.3rem;
    border-top-left-radius: 0.8rem;
    color: black;
    font-weight: bolder; 
    cursor: pointer;
    transition: all 0,5s;
}
.riceBtn:hover{
    background-color: coral;
}
.riceList{
    display:none;
}